<div class="container bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-success text-center display-5" 
         role="alert">
        <div class="fw-bold">
            Congratulate with registration!
        </div>
        <hr class="" style="height:5px;" />
        <div class="mb-3">
            To confirm registration 
            <span class="fw-bolder">
                see email message on your Email.
            </span>
        </div>
        <div>
            <a asp-action="Index"
               asp-controller="Home"
               class="alert-link text-decoration-none">On Main page</a>.
        </div>
    </div>
</div>