<div class="container bg-light rounded-3 mx-auto pt-3 pb-1">
    <div class="alert alert-success text-center display-2"
         role="alert">
        Account was confirmed! <br>
        <a asp-action="Index"
           asp-controller="Home"
           class="alert-link text-decoration-none">On Main page</a>.
    </div>
</div>