<li class="nav-item nav-item rounded rounded-1 bg-gradient me-3">
    <a asp-controller="Account"
       asp-action="Login"
       class="nav-link text-primary btn btn-sm btn-outline-light">
        Log In
    </a>
</li>
<li class="nav-item nav-item rounded rounded-1 bg-gradient">
    <a asp-controller="Account"
       asp-action="Registration"
       class="nav-link text-primary btn btn-sm btn-outline-light">
        Registration
    </a>
</li>
