<li class="nav-item nav-item rounded rounded-1 bg-gradient me-3">
    <a asp-controller="SuperAdmin"
       asp-action="Index"
       class="nav-link text-primary btn btn-outline-info">
        Super Admin Panel
    </a>
</li>